app-article-list {
  display: block;
}

.filters {
  display: flex;
  gap: var(--app-gap-m);
  align-items: flex-end;
  margin: 12px 0 8px;
}

.article-list-item {

  mat-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
