

.article-editor,
.section-editors,
.section-editor mat-card-content {
  display: grid;
  gap: 12px;
}

.article-editor {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.section-editors {
  margin-top: 12px;
}

.section-editors-header,
.section-editor mat-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.section-editors-header h2 {
  margin: 0;
}

.section-editor {
  --mat-card-outlined-container-shape: 8px;

  .mat-mdc-card-header-text {
    display: none;
  }

  .section-content,
  textarea {
    width: 100%;
  }

  //textarea {
  //  min-height: 240px;
  //  resize: vertical;
  //}

  .mat-mdc-card {
  }

  .mat-mdc-card-header {
    padding: 8px 8px 0;
  }

  .mat-mdc-card-content {
    padding: 0 8px;

    &:first-of-type {
      padding-top: 8px;
    }

    &:last-child {
      padding-bottom: 8px;
    }
  }
}

