@if (articleNotFound()) {
  <div>Article not found.</div>
  <button mat-button type="button" (click)="goHome()">Go Home</button>
} @else if (initialDraft()) {
  <section class="edit-article-page">
    <header class="page-header">
      <button mat-stroked-button type="button" (click)="cancel()">
        <mat-icon>arrow_back</mat-icon>
        Cancel
      </button>

      <h1>{{ pageTitle() }}</h1>

      <span class="spacer"></span>

      <button mat-flat-button color="primary" type="button" (click)="save()">
        <mat-icon>save</mat-icon>
        Save
      </button>
    </header>

    <mat-tab-group>
      <mat-tab label="Edit">
        <div class="tab-content">
          <app-article-editor
            [article]="initialDraft()"
            (articleChange)="updateDraft($event)"
          ></app-article-editor>
        </div>
      </mat-tab>

      <mat-tab label="Preview">
        <div class="tab-content">
          <app-article-viewer [article]="updatedDraft()!"></app-article-viewer>
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>
}
