@mixin includeVariables {
  --app-gap-s: 4px;
  --app-gap-m: 8px;
  --app-gap-l: 16px;
  --app-max-container-width: 900px;


  --app-page-container-width: min(100% - var(--app-gap-m)*2, var(--app-max-container-width));
  --mat-toolbar-standard-height: 64px;
}
